.App {
    text-align: center;
}

.header {
    background-image: url(./home-bg.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 50vh;
}

.blog-post {
    text-align: start;
    width: 30vw;
    margin: auto;
    border-bottom: 1px solid black;
}

h3 {
    font-size: 2em;
    font-weight: bolder;
}

li {
    list-style: none;
}

button {
    margin: 20px;
}

p {
    font-style: italic;
    color: gray;
}

span {
    color: black;
    font-weight: bold;
}